$mainColor : #4caf50;
$mainColor2 : #388e3c;
$mainColor3 : #1b5e20;

$secondaryColor : #cddc39;
$secondaryColor2 : #c0ca33;
$secondaryColor3 : #c6ff00;
$secondaryColor3 : #eeff41;

//the dark colors for backgrounds 
$darkColor :  #9e9e9e;
$darkColor2 : #757575;
$darkColor3 : #616161;
$darkColor4 : #424242;
$darkColor5 : #212121;



//fonts 
$mainFont : 'Lemonada', cursive;